<h1><%= @bike.year + ' ' + @bike.make+' - ' +@bike.model %></h1>
<div class="row">
  <div class=" col-sm-6 tumbnail">
    <img src="<%= @bike.imageURL %>" alt="<%= @bike.year + ' ' + @bike.make+' - ' +@bike.model %>" />
  </div>

  <div class=" col-sm-4 col-sm-offset-2 bike-info">
    <h6>Category <%= @bike.category %><br></h6>
    <h6>Make: <%= @bike.make %><br></h6>
    <h6>Model: <%= @bike.model %><br></h6>
    <h6>Year: <%= @bike.year %><br></h6>
    <h6>Color: <%= @bike.color %><br></h6>
    <h6>Engine: <%= @bike.engine %><br></h6>
    <h6>Gearbox: <%= @bike.gearbox %><br></h6>
    <h6>Drivetrain <%= @bike.drivetrain %><br></h6>
  </div>
</div>

<%= link_to "Edit Bike", edit_user_bike_path(@user,@bike) %> |
<%= link_to "Delete", user_bike_path(@user,@bike), :data => {
  :confirm => "Are you sure?", :method => "delete"} %> |
<%= link_to "Back", user_path(@user) %>
