<!DOCTYPE html>
<html>
  <head>
    <title>Rider Chronicles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand home-brand">Rider Chronicles</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
              <li><%= link_to "Home", user_path(current_user) %></li>
              <li><%= link_to "About", page_about_path %></li>
              <li><%= link_to "Contact", page_contact_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: "delete", class:"sign-in-form" %></li>
              <% else %>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="col-xs-4">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, id: "login_email"  %> <br/>
                    <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end -%>
                  </div>
                  <div class="col-xs-4">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "off", id: "login_password"%> <br/>
                    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                  </div>

                  <div class="col-xs-4 login-submit">
                    <%= f.submit "Log in",class: "btn btn-primary btn-sm" %>
                  </div>
                <% end %>
              <!-- <%= render "users/shared/links" %> -->
              <!-- <li><%= link_to "Log In", new_user_session_path %></li> -->
              <% end %>
           </div>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
